@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.text {
  font-family: 'Roboto', sans-serif;
  color: 14213d;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  padding: 10px; }

.text_index {
  font-family: 'Roboto', sans-serif;
  color: #f6f8fa;
  margin: 12px; }

.encabezado {
  padding: 15px;
  background-color: #447590;
  color: #070707;
  margin-bottom: 5px; }

.bajada {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #66a2c5; }

.bajada_index {
  padding-top: 50px;
  padding-bottom: 450px;
  background-image: url(../pics/FidelFondo1.jpg);
  background-size: cover; }

.titulo {
  align-content: center;
  justify-content: center;
  vertical-align: middle; }

.instrumento__fotos {
  width: 500px;
  height: 350px;
  border-radius: 5px;
  justify-content: center; }

.carrusel {
  font-family: normal 24px/1.5 "Roboto", sans-serif;
  font-size: 14px;
  position: relative;
  width: 440px;
  height: 380px;
  padding-left: 20px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: middle; }

.video {
  font-family: normal 24px/1.5 "Roboto", sans-serif;
  font-size: 14px;
  position: relative;
  width: 440px;
  height: 380px;
  padding-left: 20px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: 12px; }

.public {
  width: 200px;
  height: 500px;
  opacity: 0.3px;
  display: flex;
  flex-wrap: wrap; }

.public_index {
  display: flex;
  flex-wrap: wrap;
  padding: 15px; }

.ensambles__fotos {
  width: 400px;
  height: 250px;
  border-radius: 5px;
  opacity: 0.3px; }

.avatar {
  border-radius: 5%;
  height: 60px;
  width: 110px; }

.avatar__image {
  border-radius: 20%;
  height: 100%;
  width: 100%; }

.iframe-container {
  padding: 12px;
  width: 660px;
  height: 500px;
  text-align: center;
  width: 100%; }

.contenedor {
  padding-bottom: 15px;
  margin-top: 15px;
  position: relative;
  padding-bottom: 2rem;
  min-height: 100vh; }

.formulario {
  max-width: 340px;
  margin: auto;
  overflow-y: auto;
  margin-top: 10px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 600px;
  height: 400px;
  background: #f6f8fa; }

input {
  border: none;
  border-radius: .25rem;
  padding: .75rem 1rem; }
  input[type="submit"] {
    background: #24292f;
    color: white; }

h1 a {
  font-family: normal 24px/1.5 "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #24292f; }

h2 {
  font-family: normal 24px/1.5 "Roboto", sans-serif;
  font-size: 18px;
  color: a8dadc;
  margin-bottom: 20px; }

h3 {
  font-family: normal 24px/1.5 "Roboto", sans-serif;
  font-size: 18px;
  color: a8dadc;
  margin-bottom: 20px; }

.barra {
  background-color: #5d9ec3; }

.card {
  display: flex;
  flex-direction: column; }

.card__cover {
  height: 150px;
  width: 100%; }

.card__content {
  flex: 1; }

.transformacion {
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 5px;
  transition: all 2s; }

.transformacion:hover {
  transform: scaleY(1.2) scaleX(1.2); }

.foto_index {
  max-width: 340px;
  margin: auto;
  position: relative;
  width: 100vh;
  height: 100vh;
  display: flex;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  vertical-align: middle; }

.piepag {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #5f321e;
  font-size: 15px; }
